

<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			<h1>Hello, Developer!</h1>
			<p>
				This is the place to get started using the TOERH API. From here you can go to the docs or create an application.
			</p>
		</div>
		<div class="row">
			<% if current_user.nil? %>
			<div class="col-sm-6 col-lg-4">
				<h2>Applications</h2>
				<p>
					To use any end-point of the Api you need to be a registered user with a valid Api key.
				</p>
				<%= link_to "Sign in", login_path, {class: "btn btn-sm btn-default", role: "button"} %>
				<%= link_to "Sign up", register_path, {class: "btn btn-sm btn-default", role: "button"} %></div>
			<% else %>
			<div class="col-sm-6 col-lg-4">
				<h2>Applications</h2>
				<p>
					To use any end-point of the Api you need a valid Api key. To get a Api key you need to register an application.
				</p>
				<%= link_to "My Apps", applications_path, {class: "btn btn-sm btn-default", role: "button"} %>
				<%= link_to "Create App", new_application_path, {class: "btn btn-sm btn-default", role: "button"} %></div>
			<% end %>
			<div class="col-sm-6 col-lg-4">
				<h2>Docs</h2>
				<p>
					All Api:s need documentation. Explore the documentation and learn how to make requests to the TOERH Api.
				</p>
				<%= link_to "Explore Docs", docs_path, {class: "btn btn-sm btn-default", role: "button"} %>
		</div>
		<!--/row-->
	</div>
	<!--/span-->

</div>
<!--/row-->