<%# add navigation links to this file %>

<% if current_user.nil? %>
	<li><%= link_to "Sign up", register_url(subdomain: false) %></li>
	<li><%= link_to "Sign in", login_url(subdomain: false) %></li>
<% else %>
	<% if current_user.is_admin %>
		<li><%= link_to "Admin", admin_home_path %></li>
	<% end %>
	<li><%= link_to "My Apps", applications_path %></li>
	<li><%= link_to "Sign out", logout_url(subdomain: false) %></li>
<% end %>