
<h1>Editing App "<%= @application.name %>"</h1>
 
<%= form_for @application, url: application_path(@application), method: :patch do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= @application.api_key.key %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', applications_path %>