
<div class="row">
	<div class="col-xs-12">

		<%= form_tag loginPost_path, method: "post", role: 'form' do %>

		<fieldset>
			
			<legend>Sign in</legend>

			<% if @error %>
				<div class="alert alert-warning">
					<%= @error %>
				</div>
			<% end %>
			<div class="form-group">
				<%= label_tag(:email, "E-mail") %>
				<%= email_field_tag(:email, nil, :class => 'form-control') %>
			</div>

			<div class="form-group">
				<%= label_tag(:password, "Password") %>
				<%= password_field_tag(:password, nil, :class => 'form-control') %>
			</div>		

			<p>
				<%= submit_tag("Sign in", :class => "btn btn-primary btn-sm") %>
			</p>

		</fieldset>

		<% end %>
		
		<p>Not a memeber? <%= link_to "Sign up!", register_path %></p>

	</div>
</div>